:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --white-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --developed-color: rgba(255, 255, 255, 0.4);
  --button-bg-color: #f5f4fa;
  --text-bg-color: rgba(33, 150, 243, 0.9);
}
a {
  text-decoration: none;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Logo */
.logo {
  color: var(--logo-color);
}

.logo-color {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

/* Site nav */

.link {
  color: var(--title-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.adress-header {
  color: var(--primary-text-color);
}

.adress-header:hover,
.adress-header:focus {
  color: var(--accent-color);
}

/* main */

.hero-text {
  color: var(--white-color);
  background-color: black;
}

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.filter-button {
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.current-button {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.section-title {
  color: var(--title-text-color);
}

.title-text {
  color: var(--title-text-color);
}

.full-text-item {
  color: var(--white-color);
  background: var(--text-bg-color);
}

.photo-project:hover,
.photo-project:focus {
  background: var(--text-bg-color);
}
.name-capabilities {
  color: var(--white-color);
  background-color: black;
}
.customer-icon:hover,
.customer-icon:focus {
  background-color: var(--accent-color);
}

/* Footer */

.footer-contact {
  color: var(--footer-adress-color);
}

.footer {
  background-color: var(--footer-bg-color);
  color: var(--white-color);
}

.develop {
  color: var(--developed-color);
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--accent-color);
}
